@model List<Services.DTO.EmployeeDTO>

<h2>Detalles de Empleado:</h2>


    <h2>Details</h2>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Pais</th>
            <th>Fecha de ingreso</th>
            <th>Turno</th>
            <th>Valor de Hora</th>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Country</td>
                <td>@item.HireDate</td>
                <td>@item.ShiftID</td>
                <td>@item.Salary</td>
                <td>
                    <a class="btn-default" style="border-style : solid; border-color : dodgerblue  ; background-color :dodgerblue; color :white" href="/Employee/Delete?EmployeeID=@item.EmployeeID">Eliminar</a>
                    <a class="btn-default" style="border-style : solid; border-color : dodgerblue; background-color :dodgerblue; color :white" href="/Employee/Update?EmployeeID=@item.EmployeeID">Actualizar</a>
                </td>
            </tr>


        }
    </table>
